html {
    margin: 0;
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    text-align: center;
    color: white;
}    

.window-background {
    background: linear-gradient(45deg,rgb(76, 77, 73), rgb(39, 39, 39)) fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}   

.window {
    aspect-ratio:  6 / 4;
    height: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    height: 95%;
    width: 95%;
    flex-direction: column;
}

.row {
    flex-direction: row-reverse;
    height: 33%;
    width: 100%;
}

.column {
    flex-direction: column;
    width: 35%;
    height: 100%;
}

.space {
    width: 15%;
}


.block {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.chair {
    width: 90%;
    height: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mid-space {
    height: 85%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mid-table {
    height: 85%;
    width: 50%;
    background: radial-gradient(#572863, #5e002f);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: outset;
}

.avatar {
    height: 60%;
    width: 100%;
}

.small {
    height: 20%;
    width: 80%;
}


img {
    height: 90%;
    width: 80%;
}


.name {
    font-family: "PT Sans; Founders_Grotesk";
    font-size: 2.5vw;
    font-weight: bold;
}

.rating {
    position: relative;
    width: 100%;
    height: 80%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 2px #dad434;
}

.rating__star {
    font-size: 2.1vw;
    cursor: pointer;
    color: #dad434;
    transition: filter linear .3s;
    width: 18%;
}


.main-text-container {
    width: 90%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subtext-container {
    width: 90%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.main-text {
    font-family: "Founders_Grotesk";
    font-size: 2.3vw;
    font-weight: bold;
    margin: auto;
}

.subtext {
    font-family: "Merriweather";
    font-size: 1.6vw;
    position: relative;
    top: -0.5rem;
}


.text-box {
    height: 80%;
    width: 80%;
}

.instructions {
    font-size: 2.5vw;
}


@font-face {
    font-family: Founders_Grotesk;
    src: url("../fonts/Founders/Founders_Grotesk-Regular.otf");
}

@font-face {
    font-family: Founders_Grotesk;
    src: url("../fonts/Founders/Founders_Grotesk-Bold.otf");
    font-weight: bold;
}

@font-face {
    font-family: Merriweather;
    src: url("../fonts/Merriweather/Merriweather-Regular.ttf");
}

@font-face {
    font-family: Merriweather;
    src: url("../fonts/Merriweather/Merriweather-Black.ttf");
    font-weight: bold;
}


.button {
    background: radial-gradient(#572863, #5e002f);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: outset;
    color: white;
}

.button-big {
    height: 60%;
    width: 60%;
}

.button-small {
    height: 40%;
    width: 40%;
}

.main-text-big {
    font-family: "Founders_Grotesk";
    font-weight: bold;
    margin: auto;
    font-size: 4vw;
}

.subtext-big {
    font-family: "Merriweather";
    font-size: 2.5vw;
    line-height: 2;
}

.buttontext {
    position: relative;
    top: -1.5rem;
}


.emoji-container {
    height: 70%;
    width: 80%;
    border-radius: 50%;
}

.text-button-question {
    font-family: "Founders_Grotesk";
    font-size: 7vw;
    font-weight: bold;
    position: relative;
    top: 0.2em;
}

.half-width {
    width: 50%;
}


@keyframes glow {
    25%  {transform: scale(1.3)}
    50%  {transform: scale(1.2)}
    75%  {transform: scale(1.3)}
    100% {transform: scale(1.2)}
}


.row-question {
    flex-direction: row;
    height: 50%;
    width: 100%;
}

.buttonBlock {
    height: 70%;
    width: 20%;
}


.emoji {
    height: 100%;
    width: 100%;
}


.cross {
    width: 5%;
    aspect-ratio: 1 / 1;
}


input {
    width: 80%;
    height: 20%;
    font-family: "Merriweather";
    font-size: 2.2vw;
}