.contentSection {
    background: linear-gradient(45deg,rgb(76, 77, 73), rgb(39, 39, 39)) fixed;
    height: 100vh;
    width: 140vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.nameSection {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: cyan;
}

.profileSection {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ratingSection {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: magenta;
}


.botNameContainer {
    width: 70%;
    height: 80%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botName {font-family: "Georgia";
    font-size: 28px;
    font-weight: bold;
    color: white;
}


.imageContainer {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profileContainer {
    width: 60%;
    height: 90%;
    background: black;
    display: flex;
    align-items: center;
}

.profileText {
    font-family: "Georgia";
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-align: left;
    line-height: 150%;
}


.questionContainer {
    width: 16.6%;
    height: 90%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.rateContainer {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rating {
    position: relative;
    width: 10em;
    height: 80%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 2px #dad434;
}

.rating__star {
    font-size: 18px;
    cursor: pointer;
    color: #dad434;
    transition: filter linear .3s;
    width: 18%;
}


.textContainer {
    height: 60%;
    width: 90%;
    justify-content: center;
    align-items: center;
}

.questionText {
    font-family: "Helvetica, Arial";
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
}